/* body {
    background: rgb(204, 204, 204);
} */

div {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    /*box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);*/
}

div[size="A4"] {
    width: 21cm;
    height: 29.5cm;
}

div[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

div[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}

div[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}

div[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}

div[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}
#action_buttons>* {
    width: 75px;
}

@media print{
    #action_buttons,
	#action_buttons>* {
		display: none;
	}
}